@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-description-container {
  max-width: 600px; /* Adjust as needed */
  margin-bottom: 60px; /* Adjust as needed */
}

.enhancement-list li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-left: 20px; /* Indent each list item */
}

